

ws01_plumbing/build/
ws01_plumbing/~/
ws01_plumbing/install/
ws01_plumbing/log/

ws01_plumbing/.vscode/settings.json
ws02_tools/
ws02_tools/
ws02_tools/build/ws02_too
ws02_tools/install/
ws02_tools/log/

ws01_plumbing/=/
