
<robot name="iii-robot">
    <material name="yellow">
        <color rgba="0.8 0.5 0.2 1.0"/>
        <texture filename=""/>
    </material>

    <link name="base_link">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="0.0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        <visual name="">
            <origin xyz="0.0 0.0 -0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <!-- <box size="3.0 1.0 1.0"/> -->
                <mesh filename="package://cpp06_urdf/meshes/burger_base.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <!-- <material name="yellow">
                <color rgba="0.8 0.5 0.2 1.0"/>
                <texture filename=""/>
            </material> -->
            <material name="yellow"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.0 0.0 0.0"/>
            </geometry>
        </collision>
    </link>

</robot>